.containerShop > article{
    width:100%;
    scale: 0.95;
}

.cardCarrossel {
  scrollbar-width: none; /* Firefox */
}
.cardCarrossel::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

